In [3]:
import numpy as np
import pandas as pd
%matplotlib inline

In [4]:
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [5]:
data.height.mean()

66.4989979450288

In [7]:
data.height.std()

7.2195043391585605

In [8]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    66.498998  181.480565
std      7.219504   26.017297
min     48.064127  127.850196
25%     61.576685  162.709078
50%     66.001357  176.613510
75%     70.916557  200.173437
max     90.043821  254.798083

In [10]:
data.groupby('gender').describe()

       height                                                                  \
        count       mean       std        min        25%       50%        75%
gender
female  100.0  64.137136  4.715708  51.702935  60.603095  64.48837  67.502962
male    100.0  68.860860  8.441657  48.064127  63.032008  69.27427  74.277479

                  weight                                                 \
              max  count        mean        std         min         25%
gender
female  75.357073  100.0  166.309773  15.401241  127.850196  157.075624
male    90.043821  100.0  196.651356  25.660929  130.045579  180.102188


               50%         75%         max
gender
female  167.119977  175.114865  202.691904
male    197.322397  214.167645  254.798083

In [11]:
data.gender.value_counts()

male      100
female    100
Name: gender, dtype: int64